body
{
	background color: #d47833;
	background-image: url("https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
  background-image: -webkit-linear-gradient(65deg, #57b9eb 50%, #c3c7c9 50%);

}

h1
{   font-family: serif;
	font-style: oblique;
	font-size: 40px;
	color: #050404;
	text-align: left;

}
h2
{   font-family: serif;
	font-style: oblique;
	font-size: 30px;
	color: #050404;
	text-align: right;

}

h3{
	text-align: center;
}
h4
{
	font-family: serif;
	font-style: oblique;
	font-size: 120px;
	color: #2e6157;
	text-align: center;



}
h5{
	font-family: serif;
	font-style: normal;
	font-size: 50px;
    color: #0a0a0a;
    text-align: center;
}
p{
	text-align: center;
	font-size: 20px;
}
footer{
	text-align: center;
}
button
{
	color: #2e6157
}
button
{
	color: #2e6157
}
